body{
  font-family:'Noto Sans TC',sans-serif;
 background-color: #055c3f;
background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
  font-family:'Noto Sans TC',sans-serif;
}

.subheading{
  font-family:'Noto Sans TC',sans-serif;
}
h2.mb-0{
 text-transform: none;
}
div.subheading.mb-5{
   text-transform: none;
}
.bg-primary{
background-color: #077a82;!important;
background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
span.text-primary {
    color: #006161!important;
}
